html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.locationbox {
	font-size: 11pt;
	width: 98%;
}

.number-display {
	font-weight:bold;
	font-size:18px;
}

.number-title {
	color:blue;
	font-weight:bold;
	font-size:14px;
	color:#3385FF;
}

.small-padding{
	padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.panel-padding{
	padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.alert-padding{
	padding-left: 15px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-padding{
	padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.small-margin{
	margin-bottom:8px;
}

.destination-div-container{
	height:auto !important;
	width:100px !important;
	padding-left:5px !important;
	padding-right:5px !important;
	display:table-cell !important;
	white-space:nowrap !important;
}


.mode-div-title{
 	padding-left:5px;
   	padding-right:5px;
   	min-height:48px;
   	line-height:48px;
   	vertical-align: middle;
	white-space: nowrap;
    text-align:center !important;
    display:table-cell;
}


.mode-div-container{
	padding-left:1px;
   	padding-right:1px;
    text-align:center !important;
	display:table-cell;
	vertical-align:top;
	border-left:1px solid black;
}

.mode-div-summary{
	float: top !important;
	width:150px;
	line-height:16px !important;
}

.mode-div-time{
	float: bottom !important; 
	width:100%;
	height:16px !important;
	line-height:16px !important;
}


.route-div-title{
	padding-left:5px;
   	padding-right:5px;
	height:64px !important;
	line-height:64px !important;
	white-space: nowrap;
    text-align:center !important;
}


.route-div-container{
	padding-left:5px;
   	padding-right:5px;
	height:64px !important;
	white-space: nowrap;
    text-align:center !important;
	cursor:pointer !important;
	display:table-cell;
	vertical-align:top;
}

.route-div-label{
	float: top !important;
	width: 100%;
	height:16px !important;
	line-height:16px !important;
}

.route-div-cost{
	float: top !important; 
	width:100%;
	height:16px !important;
	line-height:16px !important;
}

.route-div-summary{
	float: top !important;
	width:100%;
	height:16px !important;
	line-height:16px !important;
}

.route-div-utility{
	float:top !important; 
	height:16px !important;
	line-height:16px !important;
}


.mode-font-title{
	font-weight:bold !important;
	font-size:14px !important;
}

.route-font-title{
	font-weight:bold !important;
	font-size:14px !important;
}

.route-font-label{
	font-weight:bold !important;
	font-size:14px !important;
}

.route-font-cost{
	font-weight:bold !important;
	font-size:14px !important;
}

.route-font-summary{
	font-weight:bold !important;
	font-size:14px !important;
}

.route-font-utility{
	font-weight:bold !important;
	font-size:14px !important;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}